/* star rating */
@import "lesshat";

.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-header > li > a {
  color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-right{
    padding: 20px 0 0 0;
    font-size: 20px;
}

.dropdown-menu{
    background: #c1ffb0;
}

.orangeLogo, .orangeLogo:hover{
    color: #cdff5c;
    font-weight: bold;
    padding:0% 1%;
    font-size:64px;
    display:inline-block;
    text-decoration: none;
}

/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
     overflow: hidden;
    position: relative;
      width: 100%;
      height: 450px;
      margin: auto;

  }


.carousel-control {
  padding-top:10%;
  width:5%;
}

.container{
    width: 100%;
}

.inputBox{
    width: 100px;
}

.pre-scrollable{
    max-height: 585px;
}



/*STAR RATING*/

/*SECOND METHOD*/
.star-ratings-sprite {
    float: left;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}


/* fitts scatterplot diagram */
.axis path,
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}


